
<%- include('../includes/head.ejs')  %>

  </head>
  <body>
    <%- include('../includes/navigation.ejs')  %>


    <main>
      <div class="form-container">
        <form action="/admin/add-product" method="post">


          <div class="element-form">
            <label for="productName"> Product name</label>
            <input type="text" name="productName"/>
          </div>

          <div class="element-form">
            <label for="imageUrl">imageUrl</label>
            <input type="text" name="imageUrl"/>
          </div>

          <div class="element-form">
            <label for="price">Price</label>
            <input type="number" name="price"/>
          </div>

          <div class="element-form">
            <label for="description">Description</label>
            <textarea id="description" rows="5" name="description"></textarea>
          </div>
          <button type="submit">Add A New Product</button>
        </form>
      </div>
    </main>
    <%- include('../includes/end.ejs')  %>
