<form action="/cart" method="post">
    <a href="/product-list/<%= product.id%>">Details</a>
    <button type="submit"> add to cart</button>
    <input type="hidden" name="productId" value="<%= product.id%>"/>
 </form>