 {{!-- <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class="active" href="/">Shop</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add product</a>
          </li>
        </ul>
      </nav>
    </header> --}}

    <main>
      <div class="form-container">
        <form action="/admin/products" method="post">
            <label>
              <input type="text" name="productName"/>
              Product name
            </label>

          <button type="submit">Add A New Product</button>
        </form>
      </div>
    </main>